.env
*.local
local.properties

.idea/
.vscode/
.m2/
.hvigor/
oh_modules/
node_modules/
**/build/
**/target/
**/.preview/
**/.test/

emulator/
*.qcow2
*.img
*.hap
*.p7b
*.p12
*.jks
*.keystore

*.log
.DS_Store
Thumbs.db
